Source: swconfig
Section: utils
Priority: extra
Maintainer: Heinrich Schuchardt <xypron.glpk@gmx.de>
Build-Depends:
 debhelper (>= 9.0.0),
 autotools-dev,
 autoconf-archive,
 libtool,
 pkg-config,
 libnl-3-dev,
 libnl-genl-3-dev
Standards-Version: 3.9.4.0
Vcs-Git: git://github.com/xypron/swconfig.git
Vcs-browser: https://github.com/xypron/swconfig
Homepage: http://xypron.github.io/swconfig/

Package: swconfig
Section: utils
Architecture: any
Depends:
 libnl-3-200,
 libnl-genl-3-200
Description: Swconfig
 Switch configuration utility

